*{
    font-family: Arial, sans-serif;
    margin: 0px;
}

/* background video */
#bg-video {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%; 
    min-height: 100%;
    z-index: -1;
    object-fit: cover;
}

/* Remove underline & color from all links */
a {
    text-decoration: none;
    color: inherit;
}

/* TPP logo */
.logo {
    height: 60px;
    width: 60px;
    background-image: url("logo.png");
    background-size: cover;
}




/* navigation bar */
.nav{
    height: 45px;
    width: 580px;
    margin: -10px 0px 50px 930px;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(212, 192, 192, 0.2);
    border-radius: 3px 20px;
    display: flex;
    flex-direction: row-reverse;
    position: static;
}
.nav a{
    color: rgb(240, 215, 134);
    font-weight: 560;
    font-size: 21px;
}
.nav a:hover{
    text-decoration: solid underline rgb(226, 230, 176);
    transition: transform 0.2s ease;
    transform: scale(1.06);
}




/* top section */
.top{
    display: flex;
    flex-direction: row;
    margin: 10px 18px;
    margin-bottom: 200px;
}
.info{
    height: 150px;
    width: 985px;
}
.heading {
    font-size: 45px;
    color: rgb(240, 209, 168);
    margin-bottom: 25px;
    display: inline-block;
    padding-bottom: 8px;
    border-bottom: 2.5px solid rgba(245, 213, 172, 0.7);
    text-shadow: 0 0 8px rgba(177, 153, 121, 0.5);
}
.para{
    background-color: rgba(82, 70, 70, 0.399);
    border-radius: 10px;
}
.info p{
    line-height: 38px;
    padding: 7px 7px;
    font-size: 27px;
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
}


/* profile picture */
.pp{
    margin-left: 100px;
    margin-top: 120px;
    height: 255px;
    width: 350px;
    border-radius: 20px;
    border: 1px solid rgb(79, 76, 76);
    object-fit: cover;
    overflow: hidden;
}
.pp img{
    height: 255px;
    width: 350px;
    border-radius: 20px;
    border: 1px solid white;
    object-fit: cover;
    transition: all ease .5s;
}
.pp:hover{
    border-radius: 20px;
    border: 1px solid white;
}
.pp:hover img{
    scale: 1.1;
}



/* socials */
.socials{
    margin-top: 410px;
    margin-left: 1171px;
    width: 121px;
    display: flex;
    position: absolute;
}
.socials img {
    width: 45px;
    border-radius: 50%;
    transition: transform 0.2s ease;
}
.socials a{
    margin-right: 15px;
}
.socials img:hover {
    transform: scale(1.09);
    filter: brightness(0.6);
}




/* skills section */
.skills-box {
    border-radius: 15px;
    margin-bottom: 70px;
}
.skills-box h2 {
    color: rgb(240, 209, 168);
    font-size: 35px;
    margin-bottom: 55px;
}
.skills-box .row {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-bottom: 50px;
    font-size: 60px;
}

.skills-box .row i {
    transition: 0.3s ease;
}
.skills-box .row i:hover {
    transform: scale(1.1);
}




/* hobby and language */
.hob_lang{
    display: flex;
    justify-content: space-around;
    margin-bottom: 300px;
    color: white;
}
.tag-box {
    padding-top: 5px;
    font-size: 23px;
    line-height: 35px;
}




/* footer */
.footer {
    background: #000;
    color: #e5e5e5;
    padding: 30px 0 0 0;
    font-family: Arial, sans-serif;
}
.footer-container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer-box {
    width: 250px;
    margin-bottom: 30px;
}
.footer-box h3 {
    color: #fff;
    font-size: 19px;
    margin-bottom: 15px;
    text-decoration: solid underline rgba(255, 255, 255, 0.6);
}
.footer-box a {
    display: block;
    text-decoration: none;
    color: #e5e5e5;
    line-height: 25px;
    transition: 0.2s;
}
.footer-box a:hover {
    color: #9b59b6;
}
.footer-box p {
    line-height: 1.4;
    color: #ccc;
}
.footer-bottom {
    text-align: center;
    margin-top: 35px;
    font-size: 14px;
    opacity: 0.6;
    padding-bottom: 10px;
}
